#divFooterAumentoLimite .smalltxtfooter{
    margin: 3% 0% 1% 2%;
}

#divFooterAumentoLimite .aumentoLimite .ui-btn-blue{
    margin: 2% 0% 2% 25%;
}

#divFooterAumentoLimite .aumentoLimite .iconeFechar {
    margin: 1% 0% 0% 3%;
}

