/* Slider */
.slick-slider
{
	margin: -1em;
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9dce0+0,f3f6fb+20,f3f6fb+80,d9dce0+100 */
background: #d9dce0; /* Old browsers */
background: -moz-linear-gradient(top,  #d9dce0 0%, #f3f6fb 20%, #f3f6fb 80%, #d9dce0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9dce0), color-stop(20%,#f3f6fb), color-stop(80%,#f3f6fb), color-stop(100%,#d9dce0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d9dce0 0%,#f3f6fb 20%,#f3f6fb 80%,#d9dce0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d9dce0 0%,#f3f6fb 20%,#f3f6fb 80%,#d9dce0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d9dce0 0%,#f3f6fb 20%,#f3f6fb 80%,#d9dce0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d9dce0 0%,#f3f6fb 20%,#f3f6fb 80%,#d9dce0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dce0', endColorstr='#d9dce0',GradientType=0 ); /* IE6-9 */
 
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}