.esqueciSenhaCodigoVerificacao{
	display: inline-block; 
	margin-top: 0px;  
	margin-bottom: 0px;
}

.esqueciSenhaTooltipCodigo{
	float: right;
    margin-top: 0px;
    margin-left: 6px;
}

.esqueciSenhaQuebraTexto{
	word-wrap: break-word;
}